form{
    display: flex;
    flex-direction: column;
    max-width: 300px;

}
input[type='text']{
    margin-bottom: 10px;
    padding: 5px;

}
button{
    padding: 8px;
    background-color: black;
    color: #ffff;
    cursor: pointer;

}
#resultado{
    margin-top: 20px;
}